<footer class="foot">
  <p>Author: Blerta(Eleni) Tzafai <br>
  <a href="x19224320@student.ncirl.ie">x19224320@student.ncirl.ie</a></p>
    <p>For any queries relating to orders, deliveries, returns or issues with the website, contact our Customer Service.
     And by By Clicking the below Link you will find more
     
      <h3> <a href="/help/">CONTACT US FOR SUPPORT</h3></a>  
     
</p>
</footer>