<div class="aboutUs">

<% provide(:title, 'About') %>

<h1>About Our E-shop SeaDiscovery</h1>
<p>Sea is another beautiful unique world of this planet. People are now more interested to meet, dive and discover this world. 
But to do this a lot of equipment’s are needed. </p>

<p>That equipment can offer to the interested people safety, protection from the cold, better view, speed and etc…
<p></p>For all the above reasons the Scuba diving e-shop SeaDiscovery could offer you all the above.</p>
In This e-shop a lots of Scuba Diving products will be provided, such as fins, octopus, computer, lighter, regulator, tank, gloves etc.
</p>
